#chessboard {
  display: grid;
  grid-template: repeat(7, 40px) / repeat(7, 40px);
}

#chessboard > div:nth-child(odd) {
  background-color: brown;
}

#chessboard > div:nth-child(even) {
  background-color: whitesmoke;
}
