html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.2 0.01 270);
}

#chessboard {
  display: grid;
  grid-template: repeat(7, 40px) / repeat(7, 40px);
}

#chessboard > div {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

#chessboard > div:nth-child(odd) {
  background-color: hsl(22, 33%, 51%);
}

#chessboard > div:nth-child(even) {
  background-color: hsl(30, 80%, 83%);
}

#chessboard > .possible-move {
  border: 3px solid lightseagreen;
}
